/* font-family: 'Rubik', sans-serif; */
/* #4a4a4a (Texto del menú)
#3CDBC0 (Color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital") */

* {
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "Rubik", sans-serif;
  --background-color: #3cdbc0;
  --color-principaltext: #ffffff;
  --color-menu: #4a4a4a;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 155px;
  margin: 10px 0;
}
.navegador {
  font-size: 16px;
  display: flex;
}

.item-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 13px;
}
a.item-nav {
  color: var(--color-menu);
  font-family: var(--font-family);
  text-decoration: none;
  box-shadow: none;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
.item-main {
  color: var(--color-principaltext);
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: bold;
}
@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
  }
  .logo {
    margin: 20px 0;
  }
  .item-main {
    font-size: 40px;
  }
}
